.page-home, ion-content {
  height: 100%;
}

.page-home {
  border: 2px solid black;
}

.ninja {
  position: fixed;
  left: -100px;
  bottom: 0;
  height: 7rem;
  width: 100%;
  object-fit: contain;
  object-position: left;
}

ion-phaser-ce {
  width: 100%;
  height: 100%;
}

.logo {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}