

html{
  width: 100%;
  height: 100%;
  
  background: black;
  
  background: 
    radial-gradient(circle at 50% 50%, white 12%, transparent 12%) center center,
    linear-gradient(90deg, transparent 45%, grey 45%, grey 55%, transparent 55%) center center,
    linear-gradient(black 45%, grey 45%, grey 55%, black 55%) center center;
  
  background-size: 5em 5em;
}